{% extends "webapp/layout/front.html" %}

{% block title %}
  Django App - Add User Page
{% endblock %}



{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form action="/add/" method="post" id="user-form" name="user-form">
            <fieldset class="form-border">
              <legend class="form-border">Add Name and Email Address</legend>
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    <div>
                      <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                    <label>{{ field.label_tag }}</label>
                    <div>{{ field }}</div>
                  </div>
                {% endfor %}
                <br>
                <div class="form-group">
                      <button type="submit" id="submit-btn" class="btn btn-primary btn-md">Submit</button>
                </div>
            </fieldset>
        </form>
        </div>
      </div>
  </div>
{% endblock %}